name: Java CI with Gradle
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: faycal6215122
          password: hamada2019
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: faycal6215122/projet_rabe7
